body {
  font-family: Helvetica;
}
.app {
  display: flex;
  height: 100vh;
}
.teams {
  width: 10%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
  text-align: center;
  padding-top: 20px;
}
.team {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 30px;
    width:30px;
  }
}
.channels {
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  ul {
    padding-top: 10px;
  }
  li {
    color: gray;
    padding-bottom: 5px;
    &.active {
      color: black;
      font-weight: bold;
    }
  }
}
.channel {
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
}
.message-list {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100vh - 50px - 40px - 10px);
  overflow: scroll;
}
.message {
  padding-bottom: 10px;
}
.message-header {
  padding-bottom: 5px;
}
.message-form {
  display: flex;
  input {
    width: 90%;
    height: 50px;
    border: 1px solid whitesmoke;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  button {
    width: 10%;
    background-color: red;
    color: white;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: bold;
  }
}



